body {
    text-align: center;
}

.card h2 {
    text-align: center;
    margin: 10% auto;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lora', serif;

}
.inner-card {
    display: flex; 
    flex-wrap: wrap;
    padding: 10%;
    margin: 20px auto;
    width: 80%;
    transition: all .3s ease;
    box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow:hidden;
}
.inner-card div {
    font-size: 20px;
    margin: 10px 0;
    width: 100%;
}
 .inner-card h3 {
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lora', serif;
    text-align: center;
}
.inner-card p {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lora', serif;
    
}
.inner-card img{
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}


