.body, html {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.price-container > .ui.card{
    margin: 15px auto 5px auto;
}
.form-legend {
    display: block !important;
}
.chart-visuals {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.form-inputs {
    margin-right: 15px;
}

.react-datepicker__input-container > input {
    line-height: 2.15;
}
.form-submit {
    margin: 10px auto !important;
}

#log-list {
    list-style: none;
    width: 100%;
}

.portfolio-labels {
    width: 200px;
    margin: 15px 0 15px 0!important;
}

.list-values {
    width: 200px;
    margin: 15px 0 15px 0!important;
}

.log-buy > {
    margin-right: 25px;
}

/* Tablet */
@media screen and (max-width: 990px) and (min-width: 768px) {
    .chart-visuals {
        width: 90%;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .chart-visuals {
        width: 100%;
    }
}