.body, html {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.price-container > .ui.card{
    margin: 15px auto 5px auto;
}
.form-legend {
    display: block !important;
}
.chart-visuals {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.form-inputs {
    margin-right: 15px;
}

.react-datepicker__input-container > input {
    line-height: 2.15;
}
.form-submit {
    margin: 10px auto !important;
}

#log-list {
    list-style: none;
    width: 100%;
}

.portfolio-labels {
    width: 200px;
    margin: 15px 0 15px 0!important;
    font-weight: bold;
}

.list-values {
    width: 200px;
    margin: 15px 0 15px 0!important;
}

.log-buy > {
    margin-right: 25px;
}

.portfolio-value {
    width: 20%;
}

.portfolio-wrapper {
    display: flex;
    margin:auto;
    padding: 5px;
}

#log-list {
    display: flex;
    margin: auto;
}

.portfolio-container {
    max-width: 1200px;
    margin: auto;
}

.inner-card {
    display: flex; 
    flex-wrap: wrap;
    padding: 10%;
    margin: 20px auto;
    width: 80%;
    transition: all .3s ease;
    box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow:hidden;
}

/* Tablet */
@media screen and (max-width: 990px) and (min-width: 768px) {
    .chart-visuals {
        width: 90%;
    }
    .portContanier {
        width: 100%;
    }
    .list-values {
        width: 15%;
        margin: 15px 0 15px 0!important;
    }
    .portfolio-labels {
        width: 20%;
        margin: 15px 0 15px 0!important;
    }
    #log-list {
        padding-inline-start: 0px;
    }
    .li-val {
        font-size: 50%!important;
    }
    .portfolio-grid {
        display:flex!important;
    }
    .inner-card {
        width: 90%;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .chart-visuals {
        width: 100%;
    }
    .portContanier {
        width: 100%;
    }
    .list-values {
        width: 15%;
        margin: 15px 0 15px 0!important;
    }
    .portfolio-labels {
        width: 20%;
        margin: 15px 0 15px 0!important;
    }
    #log-list {
        padding-inline-start: 0px;
    }
    .li-val {
        font-size: 50%!important;
    }
    .portfolio-grid {
        display:flex!important;
    }
    .inner-card {
        width: 95%;
    }
}

body content{
    text-align: center;
}

.card h2 {
    text-align: center;
    margin: 5% auto 3%!important;
    letter-spacing: 1px;
    font-size: 35px;

    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lora', serif;
    border-bottom: 3px solid black;

}

.react-datepicker__day--keyboard-selected {
    border-radius: 0; 
    background-color: #FFF;
    color: #000;
}

.inner-card div {
    font-size: 20px;
    margin: 10px 0;
    width: 100%;
}
 .inner-card h3 {
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lora', serif;
    text-align: center;
}
.inner-card p {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lora', serif;
    
}
.inner-card img{
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}

#NYT {
    
   margin-bottom: 10%;
    text-align: center;
}

#bitcoinImg {
    height: 10%;
    width: 15%;
}


